<blockquote class="quote" data-fit data-min="44">{{ s.slide.quote | inline }}</blockquote>
<p class="quote-author">{{ s.slide.author }}{% if s.slide.source %}<small>{{ s.slide.source }}</small>{% endif %}</p>
